<% content_for :top_content do %>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <h3> It's the Reporting System for Cyber Craft.
      Let's get started!</h3>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  </div>
  
<% end %>

